<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.designmusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".MedicalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo">
        <activity
            android:name=".MainActivityTest"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MusicPlayerActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".ui.activity.AlbumSongActivity"
            android:label="@string/title_activity_album_song"
            android:theme="@style/Theme.DesignDemo"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".ui.activity.ArtistSongActivity"
            android:label="@string/title_activity_artist_song"
            android:theme="@style/Theme.DesignDemo"
            android:configChanges="orientation|screenSize"/>

        <service
            android:name=".player.service.MusicService"
            android:enabled="true"
            android:exported="true"/>
            <!--android:process=":MusicService"/>-->


        <receiver android:name=".player.Receiver.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
